@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Hind', sans-serif;

  --ui-font-body: var(--font-sans);
  --ui-font-button: var(--font-sans);
  --ui-font-headline: var(--font-sans);
  --ui-font-display: var(--font-sans);
  --ui-font-mono: var(--font-sans);
  --ui-font-serif: var(--font-sans);
  --ui-font-ui: var(--font-sans);
  --ui-font-brand: var(--font-sans);
  --ui-font-accent: var(--font-sans);
  --ui-font-heading: var(--font-sans);
  --ui-font-subheading: var(--font-sans);
  --ui-font-caption: var(--font-sans);
  --ui-font-label: var(--font-sans);
  --ui-font-button: var(--font-sans);
  --ui-font-headline: var(--font-sans);
  --ui-font-display: var(--font-sans);
  --ui-font-mono: var(--font-sans);
  --ui-font-serif: var(--font-sans);
  --ui-font-ui: var(--font-sans);
  --ui-font-brand: var(--font-sans);
  --ui-font-accent: var(--font-sans);
  --ui-font-heading: var(--font-sans);
  --ui-font-subheading: var(--font-sans);
  --ui-font-caption: var(--font-sans);
  --ui-font-label: var(--font-sans);

  --color-primary: black;
  --color-secondary: black;
  --color-tertiary: black;
  --color-quaternary: black;
  --color-quinary: black;
  --color-senary: black;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}
